/*
============================================
; Title:  node-quiz-theme.scss (Week 3)
; Author: Professor Krasso
; Modified by: Aaron Wilson
; Date: 2 Oct 2019
; Description: MEAN Node Quiz.
;===========================================
*/

@import '~@angular/material/theming';

@include mat-core();

$nodequiz-theme-primary: mat-palette($mat-green, 50);
$nodequiz-theme-accent: mat-palette($mat-green, A700);
$nodequiz-theme-warn: mat-palette($mat-red);

$nodequiz-theme: mat-light-theme($nodequiz-theme-primary, $nodequiz-theme-accent, $nodequiz-theme-warn);

@include angular-material-theme($nodequiz-theme);
